div.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
}

div.navigation-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 82.333333%;
}

nav.nav-links {
    display: flex;
    flex-direction: row;
}
nav.nav-links > div {
    padding: 0 25px;
}

nav.nav-links > div > a {
    text-decoration: none;
    color: #999;
}

nav.nav-links > div > a:hover{
    transition: .4s;
    color: #000;
}

div.menu-icon {
    display: none;
}

div.res-nav-container {
    display: none;
}

@media only screen and (max-width: 990px) {
    nav.nav-links, div.btn-container {
        display: none;
    }

    div.menu-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.navigation-container {
        padding: 15px 8px;
    }

    div.menu-icon > button.menu-btn {
        background: none;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        cursor: pointer;
    }

    div.res-nav-container .hide {
        display: none;
    }

    div.res-nav-container.show{
        display: block;
        z-index: 1000;
        width: 85%;
        height: auto;
        position: absolute;
        top: 7.8rem;
        left: 1.8rem;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 10px 5px 70px #888;
    }

    div.res-nav-container > nav.nav-link > div.link {
        width: 100%;
        height: 6.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.res-nav-container > nav.nav-link > div.link > a {
        text-decoration: none;
        color: #000;
    }
}

/* @media only screen and (max-width: 550px) {
    div.menu-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    div.navigation-container {
        padding: 15px 8px;
    }

    div.menu-icon > button.menu-btn {
        background: none;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        cursor: pointer;
    }
} */